.entry label,
.projectLogo {
  float: left;
}

.entry,
.entry a {
  display: table;
}

.entry {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(105, 134, 131, 0.3) 100%
  );
}

span {
  display: table-cell;
  margin: auto;
  top: 50%;
  font-size: 18px !important;
  color: #2e0e53;
}

.entryContent,
.projectLogo {
  display: table-cell !important;
  vertical-align: middle !important;
}

.entryContent {
  padding-bottom: 20px !important;
}

.entry a:hover {
  text-decoration: underline !important;
}

.entry label {
  font-weight: bold;
}

.projectLogo {
  margin: 10px 15px 10px 10px;
  max-width: 100px !important;
}
