.coaFigure {
    float: right;
    margin: 0 10px 10px 10px;
}

.gameFigure {
    float: left;
    margin: 0 10px 10px 0;
}

.coaFigure, .gameFigure {
    text-align: center;
}

figcaption {
    background: rgba(105, 134, 131, 0.3);
}

.coatOfArms {
    width: 260px !important;
}

.divider {
    margin: 20px 0 10px 0 !important;
}

label, .galleries .image {
    float: right;
}

.galleries {
    margin-top: 20px;
}

.galleryLink {
    cursor: pointer;
}
