.navBar {
  margin-top: 80px;
  padding: 10px;
}

a {
  font-size: 18px !important;
  color: #2e0e53 !important;
}

.active.item {
  color: #6236c3 !important;
  text-shadow: -1px -1px 0 #2e0e53, 1px -1px 0 #2e0e53, -1px 1px 0 #2e0e53,
    1px 1px 0 #2e0e53;
  paint-order: stroke fill;
}
