#root {
  height: 100%;
  overflow: hidden;
}

.rootContainer,
.main {
  min-height: 948px;
  height: auto;
  top: -3px;
}

.switch-wrapper div {
  padding-bottom: 50px;
}

.main {
  overflow-y: scroll;
  /*background: rgb(152,84,78) !important;
    background: linear-gradient(246deg, rgba(152,84,78,1) 0%, rgba(68,78,105,1) 100%) !important;*/
  /*background: rgb(122,68,63) !important;
    background: linear-gradient(246deg, rgba(122,68,63,1) 0%, rgba(61,99,95,1) 100%) !important;*/
  background-color: rgba(61, 99, 95, 0.773546918767507) !important;
  background-image: url("./assets/images/Swirls_2.png") !important;
  /*background-blend-mode: color;*/
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.4),
    inset -1px 0 0 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(0, 0, 0, 0.4) !important;
}

.app {
  margin: 70px 20px 20px 20px;
}

.topBar {
  margin-bottom: 10px;
  color: #2e0e53;
}

.logo {
  object-fit: contain;
  top: 35px;
  right: 25px;
  position: absolute !important;
}

p,
label {
  padding: 5px;
  /*background-color: rgba(255, 255, 255, 0.1);*/
  background: rgb(255, 255, 255);
  /*background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 100%);*/
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(105, 134, 131, 0.3) 100%
  );
  font-size: 18px !important;
  color: #2e0e53;
}

.header,
.divider {
  padding: 0 !important;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  color: #6236c3;
  /*-webkit-text-stroke: 1px #2e0e53;*/
  text-shadow: -1px -1px 0 #2e0e53, 1px -1px 0 #2e0e53, -1px 1px 0 #2e0e53,
    1px 1px 0 #2e0e53;
}

.menuMobile {
  display: none !important;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

@media only screen and (max-width: 1199px) {
  .logo {
    max-width: 305px !important;
    top: 15px;
  }

  #root {
    overflow: auto;
  }
}

@media only screen and (max-width: 991px) {
  .logo {
    max-width: 250px !important;
  }
  .menuNormal {
    display: none !important;
  }

  .menuMobile {
    display: block !important;
  }
}

@media only screen and (max-width: 614px) {
  .topBar {
    margin-top: 100px !important;
  }
}

@media only screen and (max-width: 557px) {
  .topBar {
    margin-top: 100px !important;
  }
}
